<!doctype html>
<html lang="en">
	<head>
		@input("templates/head.template")
	</head>

	<body>
		<div align="center"  id="body">
			@input("templates/menu.template")

			<div id="content">
				@content
			</div>
		</div>

		<!-- Import and configure the Firebase SDK -->
		<!-- These scripts are made available when the app is served or deployed on Firebase Hosting -->
		<!-- If you do not serve/host your project using Firebase Hosting see https://firebase.google.com/docs/web/setup -->
		<script src="/__/firebase/9.14.0/firebase-app-compat.js"></script>
		<script src="/__/firebase/9.14.0/firebase-auth-compat.js"></script>
		<script src="/__/firebase/9.14.0/firebase-database-compat.js"></script>
		<script src="/__/firebase/init.js?useEmulator=true"></script>

		<script src="@pathto(assets/js/firebase-auth)"></script>
		<script src="@pathto(assets/js/firebase-db)"></script>

		<script type="text/javascript" src="@pathtofile(output/assets/js/menu.js)"></script>
		<script async src="@pathtofile(output/assets/js/prettify.js)" onload="PR.prettyPrint()"></script>
	</body>
</html>